<p id="notice"><%= notice %></p>

<h1>Ticket Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Ticketattachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_attachments.each do |ticket_attachment| %>
      <tr>
        <td><%= ticket_attachment.ticketattachment %></td>
        <td><%= link_to 'Show', ticket_attachment %></td>
        <td><%= link_to 'Edit', edit_ticket_attachment_path(ticket_attachment) %></td>
        <td><%= link_to 'Destroy', ticket_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Attachment', new_ticket_attachment_path %>
