<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<%=
  link_to 'Download as Excel',
  customers_path(format: :xlsx)
%>

<%=
  link_to 'Upload from Excel',
  new_customers_import_path
%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobilenumber</th>
      <th>Address</th>
      <th>Pincode</th>
      <th>Age</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.mobilenumber %></td>
        <td><%= customer.address %></td>
        <td><%= customer.pincode %></td>
        <td><%= customer.age %></td>
        <td><%= customer.country %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
