<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Caller type</th>
      <th>Ticket type</th>
      <th>Product</th>
      <th>Manufacturedate</th>
      <th>Expirydate</th>
      <th>Batchnumber</th>
      <th>Purchasepoint</th>
      <th>Description</th>
      <th>Resolution</th>
      <th>Customer</th>
      <th>Ticket status</th>
      <th>Source</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.caller_type.callertype %></td>
        <td><%= ticket.ticket_type.tickettype %></td>
        <td><%= ticket.product.product %></td>
        <td><%= ticket.manufacturedate %></td>
        <td><%= ticket.expirydate %></td>
        <td><%= ticket.batchnumber %></td>
        <td><%= ticket.purchasepoint %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.resolution %></td>
        <td><%= ticket.customer.name %></td>
        <td><%= ticket.ticket_status.ticketstatus %></td>
        <td><%= ticket.source.source %></td>
        <td><%= ticket.employee.employeename %></td>
         <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_customer_ticket_path(@customer)  %>
