<p id="notice"><%= notice %></p>

<p>
  <strong>Productdesc:</strong>
  <%= @product.productdesc %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @product.createddate %>
</p>

<p>
  <strong>Cratedby:</strong>
  <%= @product.cratedby %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
